**/buildFiles
*.rar
*.pdf
*debug1
*.1p1
*.dcp
*.dcu
*.exe
*.vlb
*.tvsconfig
*.identcache
*.local
*.dproj.local
*.res
*.ini
*.groupproj
*.deployproj
*.template.xml
**/Android64
**/Android32
**/temp
**/debug
**/Android
**/Win32
**/__history
**/__recovery
**/.svn